<div class="info-area d-flex flex-column">
    <div class="d-flex flex-row justify-content-between top-row">
        <div class="detail-info">
            <a href="{{eventbriteLink}}" class="descriptive-text">saturday / june 30 / seven pm / mahalls / lakewood / ten dollars / </a>
            <a href="{{eventbriteLink}}" class="descriptive-text tickets-here">tickets here</a>
        </div>
        <a align="right" href="{{blackMusicHistoryLink}}" class="black-music-history descriptive-text">a fundraiser celebrating black music history month</a>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-end">
        <h1>juke joint</h1>
        <div align="right" class="d-flex flex-column">
            <div class="with-music-by descriptive-text">with music by:</div>
            <div class="artist-list descriptive-text">
                <span><a href="{{danteAndTayLink}}" class="musician">dante & tay</a></span><span> / </span>
                <span><a href="{{adabLink}}" class="musician">adab</a></span><span> / </span>
                <span><a href="{{fanaLink}}" class="musician">fana</a></span><span> / </span>
                <span><a href="{{mazLink}}" class="musician">maz</a></span><span> / </span>
                <span><a href="{{shirtlessLink}}" class="musician">shirtless</a></span><span> / </span>
                <span><a href="{{smokescreenLink}}" class="musician">smokescreen</a></span>
            </div>
        </div>
    </div>
</div>
<a href="{{ampLink}}">
    <img src="../assets/jukejoint.jpg" class="img-fluid" alt="juke joint flyer">
</a>
<footer class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column footer-section">
        <h5>Put on by:</h5>
        <a href="{{ampLink}}">Amp BIPOC NEO</a>
        NODS Network
    </div>
    <div class="d-flex flex-column footer-section" align="right">
        <h5>More links:</h5>
        <a href="{{eventbriteLink}}">Eventbrite (for tickets)</a>
        <a href="{{facebookEventLink}}">Facebook Event</a>
        <a href="{{instagramLink}}">Instagram</a>
    </div>
</footer>
